# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
webmapping_env/
venv/
env/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.so
*.mo
media/
staticfiles/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environment files
*.env
.env
